@using Team7ADProject.Models;
@{
    List<Stationery> stationeries = (List<Stationery>)ViewData["stationeries"];
}
<h4>
    Add Stationery Request
    <button class="btn btn-default" id="submitBtn">Submit</button>
</h4>
<table class="table table-hover">
    <thead>
        <th>Category</th>
        <th>Description</th>
        <th>Unit of Measure</th>
        <th>Request Quantity</th>
    </thead>
    <tbody>
        @foreach (var stationery in stationeries)
        {
            <tr>
                <td>@stationery.Category</td>
                <td>@stationery.Description</td>
                <td>@stationery.UnitOfMeasure</td>
                <td><input type="number" style="width: 5em;" class="form-control qty" id="@stationery.StationeryId"/></td>
            </tr>
        }
    </tbody>
</table>
<script>
    $("#submitBtn").click(function(){
        var stationeryQuantities = [];
        $(".qty").each(function () {
            if ($(this).val() > 0) stationeryQuantities.push({ "stationeryId": $(this).attr("id"), "quantity": $(this).val() });
        });
        $.ajax({
            url: "/Department/AddStationeryRequest",
            method: "POST",
            data: {
                stationeryQuantitiesJSON: JSON.stringify(stationeryQuantities)
            },
            success: function () {
                window.location.href = "/Department/StaffStationeryRequests";
            }
        });
    });
</script>
