@using Team7ADProject.Models;
@{
    DepartmentStaff currentRep = (DepartmentStaff) ViewData["currentRep"];
    List<DepartmentStaff> staffList = (List<DepartmentStaff>)ViewData["staffList"];
    int departmentId = (int) ViewData["departmentId"];
}
<h4>
    Assign Representative
    <button class="btn btn-default" onclick="assignRep()">Assign</button>
</h4>
<table class="table table-hover">
    <tr>
        <th>Current representative:</th>
        @if(currentRep != null)
        {
            <td>@currentRep.Name</td>
        } else
        {
            <td>(Not assigned)</td>
        }
    </tr>
    <tr>
        <th>Choose new representative:</th>
        <td>
            <select id="chosenRep" class="form-control">
                @foreach(var staff in staffList)
                {
                    <option value="@staff.UserId">@staff.Name</option>
                }
            </select>
        </td>
    </tr>
</table>
<script>
    function assignRep() {
        $.ajax({
            url: "/Department/AssignNewRepresentative",
            method: "POST",
            data: {
                "departmentId": @departmentId,
                "staffId": $("#chosenRep").val()
            },
            success: function () {
                window.location.href = "/Department/AssignRepresentative";
            }
        });
    }
</script>