@using Team7ADProject.Models;
@{
<<<<<<< HEAD
    List<AssignForm> assignForms = (List<AssignForm>)ViewData["assignForms"];
=======
    List<DepartmentStaff> departmentStaffs = (List<DepartmentStaff>)ViewData["departmentStaffs"];
}
<form action="/Department/AuthorizeStaff" method="POST">
    <h4>
        Assign Representative
    </h4>
    <table class=" table table-hover">        
            <tr>
                <th>Name: </th>
                <td>
                    
                </td>
            </tr>
            <tr>
                <th>Authorized Status: </th>
                <td></td>
            </tr>
            <tr>
                <th>Start Date: </th>
                <td><input type="text" class="form-control" name="startDate" /></td>
            </tr>
            <tr>
                <th>End Date:</th>
                <td><input type="text" class="form-control" name="endDate" /></td>
            </tr>
            <tr>
                <th>Action:</th>
                
                    <td><button type="submit" class="btn btn-default">Authorize</button></td>
            </tr>
    </table>
</form>
>>>>>>> 12811bfc068f15ce7e9e4b57cd2abd545d3920d3

}
<h4>
    Assign Representative
    <a class="btn btn-default" href="/Department/AddAssignRepresentative">Add</a>
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var assignForm in assignForms)
        {
            <tr>
                <td>@assignForm.DepartmentStaff.Name</td>
                <td>@assignForm.StartDate</td>
                <td>@assignForm.EndDate</td>
                <td>
                    <button class="btn btn-default" onclick="CancelAssignStaff(@assignForm.AssignFormId)">Cancel</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function cancelAssignStaff(assignFormId) {
        $.ajax({
            url: "/Department/CancelAssignStaff",
            method: "POST",
            data: { assignFormId: assignFormId },
            success: function () {
                window.location.href = "/Department/AssignRepresentative";
            }
        });
    }
</script>