@using Team7ADProject.Models;
@{
    List<AuthorizeForm> authorizeForms = (List<AuthorizeForm>)ViewData["authorizeForms"];

}
<h4>
    Authorize Staff
    <a class="btn btn-default" href="/Department/AddAuthorizeStaff">Add</a>
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var authorizeForm in authorizeForms)
        {
            <tr>
                <td>@authorizeForm.DepartmentStaff.Name</td>
                <td>@authorizeForm.StartDate</td>
                <td>@authorizeForm.EndDate</td>
                <td>
                    <button class="btn btn-default" onclick="CancelAuthorizeStaff(@authorizeForm.AuthorizeFormId)">Cancel</button>
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function cancelAuthorizeStaff(authorizeFormId) {
        $.ajax({
            url: "/Department/CancelAuthorizeStaff",
            method: "POST",
            data: { authorizeFormId: authorizeFormId },
            success: function () {
                window.location.href = "/Department/AuthorizeStaff";
            }
        });
    }
</script>