@using Team7ADProject.Models;
@{
    List<DepartmentRequest> departmentRequests = (List<DepartmentRequest>)ViewData["departmentRequests"];
}

<h4>Stationery Requests</h4>
   
<table class="table table-hover">
    <thead>
    <th>Requestor</th>
    <th>Request Date</th>
    <th>Status</th>
    <th>Remarks</th>
    <th>Actions</th>
    </thead>
    <tbody>
        @foreach (var departmentRequest in departmentRequests)
        {
            @foreach (var stationeryRequest in departmentRequest.StationeryRequests)
            {
                <tr>
                    <td>@departmentRequest.Department.DepartmentHead</td>
                    <td>@departmentRequest.StationeryRequests</td>
                    <td>@departmentRequest.Status</td>
                    <td>@departmentRequest.Department.Name</td>
                    <td><a class="btn btn-default" href="/Head/HeadStationeryRequests/@departmentRequest.DepartmentRequestId">View</a></td>
                </tr>
            }
        }
    </tbody>
</table>