@using Team7ADProject.Models;
@{
    Notification notification = (Notification)ViewData["notification"];
}
<h4>Notification Details</h4>
<table class="table table-hover">
    <tr>
        <th>Date</th>
        <td>@notification.Date</td>
    </tr>
    <tr>
        <th>Subject</th>
        <td>@notification.Subject</td>
    </tr>
    <tr>
        <th>Sender</th>
        <td>@notification.Sender</td>
    </tr>
    <tr>
        <th>Message</th>
        <td>@notification.Message</td>
    </tr>
</table>

