<div class="wrapper">
    <nav id="sidebar">
        <div class="list-group">
            <a href="#" class="list-group-item">Stationery Requests</a>
            <a href="#" class="list-group-item">Disbursement Lists</a>
            <a href="#" class="list-group-item">Notifications</a>
        </div>
    </nav>
    <div id="content">
        <h4>Stationery Requests</h4>
    </div>
</div>