<h4 style="text-align: center">Login</h4>
<form class="form-horizontal" action="/Home/Login" method="post">
    <div class="form-group row">
        <label class="control-label col-sm-2" for="username">Username:</label>
        <div class="col-sm-10">
            <input class="form-control" type="text" id="username" name="username" required />
        </div>
    </div>
</form>