body {
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.wrapper {
    display: flex;
    transition: 0.3s;
}

#sidebar {
    width: 250px;
    height: 75vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#content {
    padding-left: 15px;
    padding-right: 15px;
}

.navbar {
    margin-bottom: 0px;
}
