@using Team7ADProject.Models;
@{
    List<Stationery> stationeries = (List<Stationery>)ViewData["stationeries"];
}
<h4>Add Adjustment Voucher</h4>
<table class=" table table-hover">
    <tr>
        <th>Item: </th>
        <td>
            <select class="form-control">
                @foreach(var stationery in stationeries)
                {
                    <option>@stationery.Description</option>
                }
            </select>
        </td>
    </tr>
    <tr>
        <th>Quantity: </th>
        <td><input type="number" class="form-control"/></td>
    </tr>
    <tr>
        <th>Reason:</th>
        <td><input type="text" class="form-control" /></td>
    </tr>
</table>
<tr>
    <p style="text-align: center;"><a class="btn btn-default">Raise</a></p>
</tr>
