@using Team7ADProject.Models;
@{
    List<DepartmentRequest> departmentRequests = (List<DepartmentRequest>)ViewData["departmentRequests"];
}
<h4>Department Requests</h4>
<table class="table table-hover">
    <thead>
        <th>Id</th>
        <th>Department</th>
        <th>Status</th>
    </thead>
    <tbody>
        @foreach (var departmentRequest in departmentRequests)
        {
            <tr>
                <td>@departmentRequest.DepartmentRequestId</td>
                <td>@departmentRequest.Department.Description</td>
                <td>@departmentRequest.Status</td>
            </tr>
        }
    </tbody>
</table>


