@using Team7ADProject.Models;
@{
    ViewBag.Title = "Notifications";
    User user = ( User ) ViewData["user"];
}

<h4>Notifications</h4>

<table style="border:2px solid black; width:50%">


    @if ( user.NotificationStatuses.Count == 0 )
    {
        <tr>No Notifications</tr>
    }
    else
    {
        <tr>
            <th>Date</th>
            <th>From</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>

        foreach ( var notificationStatus in user.NotificationStatuses )
        {
            <tr>
                <td>@notificationStatus.Notification.Date</td>
                <td>@notificationStatus.Notification.Sender</td>
                <td>@notificationStatus.Notification.Subject</td>
                <td><button style="" type="button" onclick="">View</button></td>
            </tr>
        }
    }
</table>