@using Team7ADProject.Models;
@{
    User user = (User)ViewData["user"];
    List<NotificationStatus> notificationStatuses = (List<NotificationStatus>)ViewData["notificationStatuses"];
}
<h4>Notifications</h4>
<table class="table table-hover">
    @if (notificationStatuses.Count == 0)
    {
        <tr>No Notifications</tr>
    }
    else
    {
        <tr>
            <th>Date</th>
            <th>Subject</th>
            <th>Action</th>
        </tr>
        foreach (var notificationStatus in notificationStatuses)
        {
            <tr>
                <td>@notificationStatus.Notification.Date</td>
                <td>@notificationStatus.Notification.Subject</td>
                <td><a class="btn btn-default" href="/Store/NotificationDetail/@notificationStatus.NotificationStatusId">View</a></td>

            </tr>
        }
    }
</table>
