@using Team7ADProject.Models;
@{
    List<Order> orders = (List<Order>)ViewData["orders"];
}
<h2>Orders</h2>
<table class="table table-hover">
    <thead>
        <th>Order Id</th>
        <th>Date Created</th>
        <th>Supplier</th>
        <th>Status</th>
        <th>Action</th>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.DateCreated</td>
                <td>@order.Supplier.Name</td>
                <td>@order.Status</td>
                <td><a class="btn btn-default" href="/Store/OrderDetail/@order.OrderId">View</a></td>
            </tr>
        }
    </tbody>
</table>
