@using Team7ADProject.Models;
@{
    List<Order> orders = (List<Order>)ViewData["orders"];
}
<h4>
    Orders
    <a class="btn btn-default" href="/Store/AddOrder">Add</a>
</h4>
<table class="table table-hover">
    <thead>
        <tr>
            <th>Order Id</th>
            <th>Date Created</th>
            <th>Supplier</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in orders)
        {
            <tr>
                <td>@order.OrderId</td>
                <td>@order.DateCreated</td>
                <td>@order.Supplier.Name</td>
                <td>@order.Status</td>
                @if(order.Status != "Received")
                {
                    <td><a class="btn btn-default" href="/Store/OrderDetail/@order.OrderId">Update</a></td>
                } else
                {
                    <td><a class="btn btn-default" href="/Store/OrderDetail/@order.OrderId">View</a></td>
                }
            </tr>
        }
    </tbody>
</table>
