@using Team7ADProject.Models;
@{
}
<h4>
    Reports
</h4>
<a class="btn btn-default" href="/Store/DemandByStationery">Demand by Stationery</a>
<a class="btn btn-default" href="/Store/DemandByCategory">Demand by Category</a>
